.plsn-cta {
	.et_pb_text_inner {
		text-align: center;

		a {
			color: white;
			text-transform: uppercase;
			background-color: $primary-color;
			padding: .75rem 1rem;

			@media ( max-width: $sm) {
				font-size: 0.75rem;
			}
		}
	} 
	
	&--small {
		.et_pb_text_inner {
			a {
				font-size: 0.75rem;
				padding: .5rem 0.75rem;
			}
		}
	}
}