div#page-container { 

    header {
        .container {
            .custom-secondary-menu {
                align-items: center;
                display: flex;
                justify-content: flex-end;
                min-height: 100px;
                position: relative;
                z-index: 999;

                #top-menu-nav {
                    #top-menu {
                        li {
                            display: inline-block;
                            margin-right: 50px;
                            &:last-child {
                                margin-right: 0;
                            }
                            &.current_page_item {
                                a {
                                    color: $primary-color;
                                    padding-bottom: 0;
                                }
                            }

                            a {
                                text-transform: uppercase;
                                color: $body-text-color;
                                font-size: .85rem;
                                &:hover {
                                    color: $primary-color;
                                }
                            }
                        }
                    }
                }

                #et-top-navigation {
                    float: initial;
                    padding: 0 !important;
                    span {
                        padding-bottom: 0;
                        &:before {
                            color: $black-color;
                        }

                        :hover {
                            &:before {
                                color: $primary-color;
                            }
                        }
                    }
                }   
            }
        }
        .et_mobile_menu {
            margin-top: 34px;
            border-top: 3px solid $primary-color;
        }
    }
}
